{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<!-- s-content
================================================== -->
<section class="s-content s-content--top-padding">

    <div class="row narrow">
        <div class="col-full s-content__header" data-aos="fade-up">
            <h1 class="display-1 display-1--with-line-sep">Catégorie: {{category.name}}</h1>
            <p class="lead">{{category.content | raw}}</p>
        </div>
    </div>

    <div class="row entries-wrap add-top-padding wide">
        <div class="entries">

          {% for article in articles %}
            <article class="col-block">

                <div class="item-entry" data-aos="zoom-in">
                    <div class="item-entry__thumb">
                        <a href="{{ path('article-standard', {'id' : article.id}) }}" class="item-entry__thumb-link">
                            <img src="{{ asset(article.publicThumb) | imagine_filter('cat_thumb') }}"
                                 alt="">
                        </a>
                    </div>

                    <div class="item-entry__text">
                        <div class="item-entry__cat">
                            <a href="{{ path('category', {'id' : article.category.id}) }}">{{article.category.name}}</a>
                        </div>

                        <h1 class="item-entry__title"><a href="{{ path('article-standard', {'id' : article.id}) }}">{{article.title}}</a></h1>

                        <div class="item-entry__date">
                            <a href="{{ path('article-standard', {'id' : article.id}) }}">{{article.createdAt | date('d/m/Y')}}</a>
                        </div>
                    </div>
                </div>

            </article>
          {% endfor %}

        </div> <!-- end entries -->
    </div> <!-- end entries-wrap -->

    <div class="row pagination-wrap">
        <div class="col-full">
            <nav class="pgn" data-aos="fade-up">
                <ul>
                    <li><a class="pgn__prev" href="#0">Prev</a></li>
                    <li><a class="pgn__num" href="#0">1</a></li>
                    <li><span class="pgn__num current">2</span></li>
                    <li><a class="pgn__num" href="#0">3</a></li>
                    <li><a class="pgn__num" href="#0">4</a></li>
                    <li><a class="pgn__num" href="#0">5</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">8</a></li>
                    <li><a class="pgn__next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>

</section> <!-- end s-content -->
{% endblock %}
